.VHeader {
    height: 48px;
    width: 100%;
    background: rgba(2, 136, 209, 0.5);
    color: white;
    backdrop-filter: blur(6px);
    transition: all 1s !important;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2060;
}

.VHeader-Sub {
    background: rgba(2, 119, 189, 1);
    //backdrop-filter: blur(6px);
}
.VLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 64px;
    cursor: pointer;
    height: 42px;
    font-size: 22px !important;
    padding: 0;
    margin: 0 0 0 6px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.VHeader-OnTop {

    transition: background-color 1s !important;
    background: rgb(2, 136, 209);
    color: white;
    backdrop-filter: none;
}
.VHeader-Icon {
    border-radius: 8px;
    width: 36px;
    cursor: pointer;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.VHeader-Icon .anticon {
    color: white;

}
.VHeader-Icon:hover {
    background: rgba(255, 255, 255, 0.25);
}
.VHeader-Content {

    width: 36px;
    height: 36px;


    cursor: pointer;


    display: flex;
    align-items: center;
    justify-content: center;
}
.VHeader-Right .VHeader-Content {
    margin-left: 0;
    margin-right: 12px;
}

.VLogo:hover {
    background: #61dafb80;
}