
.VHeader-Top-Icon {
  border-radius: 50%;
}

.VHeader-Top {
  height: 400px;
}

.VProfile-Info-Card {
  width: 100%;

  &, .ant-card-body {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
  }

  height: 190px;

}

.react-calendar-heatmap {
  .color-empty {
    fill: #000;
  }
}

.VProfile-Chart-Card {
  width: 900px;
  margin-top: 32px !important;

  text {
    font-size: 12px;
    text-transform: capitalize;
  }
}

.VProfile-Repos-Card {
  width: 900px;
  margin-top: 32px !important;
}

.dark {
  .react-calendar-heatmap {

    .color-empty {
      fill: rgba(117, 117, 117, 1) !important;
    }

    .color-scale-1 {
      fill: rgba(63, 81, 181, 1);
    }

    .color-scale-2 {
      fill: rgba(57, 73, 171, 1);
    }

    .color-scale-3 {
      fill: rgba(48, 63, 159, 1);
    }

    .color-scale-4 {
      fill: rgba(40, 53, 147, 1);
    }

    .color-scale-5 {
      fill: rgba(26, 35, 126, 1);
    }

    .react-calendar-heatmap-month-label {
      fill: white;
    }
  }
}

.VProfile-Repo-Card {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
  cursor: pointer;

  h1, h2, h3 {
    margin-bottom: 0;
  }
}

.VProfile-Repo-Card:hover {
  background: rgba(33, 150, 243, 0.1) !important;
}

.light {
  .react-calendar-heatmap {
    .color-empty {
      fill: rgba(117, 117, 117, 1) !important;
    }

    .color-scale-1 {
      fill: rgba(179, 229, 252, 1);
    }

    .color-scale-2 {
      fill: rgba(100, 181, 246, 1);
    }

    .color-scale-3 {
      fill: rgba(66, 165, 245, 1);
    }

    .color-scale-4 {
      fill: rgba(33, 150, 243, 1);
    }

    .color-scale-5 {
      fill: rgba(30, 136, 229, 1);
    }

    .react-calendar-heatmap-month-label {
      fill: rgba(158, 158, 158, 1);
    }
  }

  .ant-avatar {
    background: rgba(245, 245, 245, 1);
  }
}

.VProfile-Info-Avatar {
  width: 126px !important;
  height: 126px !important;
}

.adaptive {

  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: 0.9em;
  }

  h3, a {
    font-size: 0.75em;
  }

  h4 {
    font-size: 0.65em;
  }

  h5 {
    font-size: 0.5em;
  }

  .VProfile-Chart-Card {
    width: 100% !important;

    .ant-card-body {
      padding: 2px !important;
    }

    text {
      font-size: 10px;
    }
  }

  .VProfile-Repos-Card {
    width: 100% !important;

    & > .ant-card-body {
      padding: 4px !important;
    }

    .ant-card {
      margin-top: 10px !important;
      margin-bottom: 10px !important;

    }
  }

  .VProfile-Info-Card {
    height: 116px;
  }

  .VProfile-Info-Avatar {
    width: 80px !important;
    height: 80px !important;
  }
}
