@import "custom-antd.scss";
@import "./css.utils.css";
@import "./index.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.view-line {

}

.App {
  text-align: center;
}
.whiteIcon svg {
  fill: white !important;
}
.trans {
  transition: all 250ms;
}

.trans-slow {
    transition: all 500ms !important;
}

* {
  font-family: 'Montserrat', sans-serif;
}
.VContent {
  width: 100%;
  min-height: calc(100% - 48px);
  top: 48px;
  position: absolute;
}
.VPage-Full {
  width: 100%;
  min-height: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-BG {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.dark {
  .App-BG {
    background: rgba(22, 22, 22, 1);
  }
}
pre{
  white-space: pre-wrap;
}
.animatedFast {
  animation-delay: 0ms, 0ms !important;
  animation-duration: 100ms !important;
}
.ant-input-group-addon:hover {
  background: #40a9ff;

}
.ant-input-group-addon {
  background: #1890ff;
  color: white;

}
.VIcon {
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
.VIcon:hover {
  background: #F5F5F5;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.fm .ant-table-thead tr *, .fm .ant-table-tbody tr *, .fm .ant-table-thead tr, .fm .ant-table-thead td, .fm .ant-table-thead td *{
  min-width: 0 !important;
  cursor: pointer;
  text-overflow: ellipsis;
}

.fm .ant-table-thead > tr > th, .fm .ant-table-tbody > tr > td {
  padding: 6px !important;

}

.VFileTable-Row:hover {
    background: #e6f7ff;
}

.VFileTable-Row {
    transition: background-color 250ms;
}

.VFileTable-Clickable .VFileTable-Row {
    cursor: pointer;
}

.operator {
  color: #FF8F00 !important;
  background: none !important;
}

.string, .attr-value {

  color: #00BCD4 !important;
  background: rgba(96, 125, 139, 0.16) !important;
}

.constant, .attr-name, .variable {

  color: #26A69A !important;
  background: none !important;
}

.adaptive {
  * {
    transition: all 0ms !important;
  }
}
.namespace {

  color: #FF9800 !important;
  background: none !important;
}

.annotation, .punctuation, .property {

  color: #4CAF50 !important;
  background: none !important;
}

.keyword {

  color: #F4511E !important;
  background: none !important;
}

.App-Loading-Card {
  width: 600px;
  margin-top: 16px !important;
}
.class-name {

  color: #FFB300 !important;
  background: none !important;
}

.primary {
  color: rgba(2, 136, 209, 1) !important;
}
.function {

  color: #FDD835 !important;
  background: none !important;
}

.comment {

  color: #9E9E9E !important;
  background: rgba(33, 33, 33, 0.11) !important;
}
