
pre[class*="language-"] {
    background: #fff !important;
}

.vs * {
    transition: all 0ms;
    font-size: 14px !important;
    font-family: 'Ubuntu Mono', monospace !important;
}

code[class*="language-"] *, pre[class*="language-"] * {
    font-size: 16px !important;
    font-family: 'Ubuntu Mono', monospace !important;
}