.VFlex {
    display: flex;
    flex-direction: column;
}
.VText-Overflow-e {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    min-width: 0;
}

.VFlex-Center {
    justify-content: center;
    align-items: center;
}
.VFlex-Center-V {
    align-items: center;
}
.VFlex-Row {
    flex-direction: row;
}

.VSize-Padding-10px {
    padding: 10px;
}
.VSize-margin-10px {
    margin: 10px;
}
.VInner-MarginTB-10px * {
    margin-top: 10px;
    margin-bottom: 10px;
}
.VInner-MarginTB-6px * {
    margin-top: 6px;
    margin-bottom: 6px;
}
.VSize-MarginTB-6px {
    margin-top: 6px;
    margin-bottom: 6px;
}