.ant-page-header {
    background: #F5F5F5;
}

.ant-tooltip-arrow::before {

    background: #424242 !important;
}

.ant-tooltip-content > .ant-tooltip-inner {
    backdrop-filter: blur(10px);
    background: rgba(66, 66, 66, 0.26) !important;
}