.ant-popover-arrow {
  border-top-color: rgba(158, 158, 158, 0.5) !important;
  border-left-color: rgba(158, 158, 158, 0.5) !important;
  background: rgba(158, 158, 158, 0.5) !important;
}

.ant-popover-inner {
  background: rgba(158, 158, 158, 0.5) !important;
  backdrop-filter: blur(4px);

  .ant-menu-item, .ant-menu {
    background: transparent !important;

    & > *, &, & * {
      color: white;
      transition: all 250ms;
    }

    & > *:hover, &:hover, & *:hover, *:hover .anticon * {
      color: rgba(3, 169, 244, 1) !important;
    }
  }
}

.ant-popover-title {
  color: white !important;
}

.ant-popover-title {

  border-bottom: 1px #616161 solid !important;
}

.dark.App-Loading {
  background: rgba(33, 33, 33, 1) !important;
}
.dark {
  background: #000;


  .ant-card-bordered, .ant-list-bordered {
    border: #616161 solid 1px;
  }

  .diff-viewer * {
    font-family: 'Space Mono', monospace !important;
  }

  .diff-viewer pre {
    background: none;
  }

  .ant-card {
    background: #424242;

    * {
      color: #F5F5F5;
    }
  }

  .VPage, .VContent {
    background: #212121;
  }

  .ant-btn {

    background: none;

  }

  .ant-divider {

    background: #616161;
  }

  .ant-btn:focus, .ant-btn:active, .ant-btn:hover {
    background: rgba(66, 66, 66, 0.2);
  }

  .ant-layout-sider-light, .ant-menu-submenu, .ant-menu-submenu-inline, .ant-layout-sider-children, .ant-menu, .ant-menu-submenu > .ant-menu {
    background: #424242;
    color: white;
  }

  pre[class*="language-"].line-numbers * {
    border: none;
  }

  .ant-pagination-item, .ant-pagination-next, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    background: none;
  }

  .ant-input, .ant-checkbox-inner {
    background: none;
    border: 1px #616161 solid;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: rgba(25, 118, 210, 0.26);
    color: white;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    font-size: 14px !important;
    -webkit-text-fill-color: white !important;
    text-shadow: #00BCD480 0px 0px 4px !important;
    color: white !important;
    background: transparent !important;
    -webkit-box-shadow: inset 0 0 0 50px #424242 !important;
  }

  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: none;
  }

  .ant-menu-item {
    background: #424242;
  }

  .VFileTable-Row:hover {
    background: #616161;
  }

  .ant-scroll-number-only {
    color: #9E9E9E
  }

  pre {
    background: #424242;
  }

  .ant-breadcrumb-link a {
    color: white !important;
  }

  .VRepo-Main {
    background: #212121;
  }

  .ant-avatar {
    background: #616161;
  }

  .VBadge sup {
    box-shadow: none;
  }
  .VBadge-Info sup {
    background: #0288D1;
  }

  .ant-list-split .ant-list-header, .ant-list-bordered .ant-list-item, .ant-card-head {

    border-bottom: #616161 solid 1px;
  }

  .ant-list {
    background: #424242;

    * {
      color: #F5F5F5;
    }

  }

  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }
}