.VRepo-Main {

  width: 100%;
  min-height: 100%;
  height: 100%;
}

.VRepo-Content {
  width: 100%;
  min-height: 100%;
  overflow: auto;
}

.VRepo-Content-Inner {
  margin: 24px;
}

.VRepo-Content-Card {
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.05));
}

.adaptive {
  .VRepo-Background-Sider {
    transition: all 500ms ease-out;
    position: fixed;
    width: 0;
    height: 0;
    z-index: 2;
    background: #00000000;

    &.show {
      width: 100%;
      height: 100%;
      background: #00000080;
      backdrop-filter: blur(4px);
    }

    &.hide {
      background: #00000000;
    }
  }
}

.VRepo-Sider-Affix > * {
  height: 100%;
}

.VRepo-Sider {
  height: 100%;
  background: rgba(66, 66, 66, 1);
  width: 224px;
  transition: all 500ms ease-in-out;

  .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
    width: 100%;
  }
}

.adaptive {
  .VRepo-Sider {
    position: absolute;

    &.show {
      transform: translate(0, 0);
    }

    &.hide {
      transform: translate(-224px, 0);
    }

    z-index: 3;
  }
}
.VRepo-Content-List-Card {
  margin-bottom: 18px !important;
  margin-top: 18px !important;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));

}

.adaptive {
  .VRepo-Content-Inner {
    margin: 0;
  }

  .VRepo-Content-Card {
    border: 0;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.11));
  }

  .VRepo-Commit-Card .ant-card-body {
    padding: 0 !important;
  }

  .VRepo-Commit-Root .ant-card-body {
    padding: 6px 0 !important;
  }
}